name: portfolio
description: "Md Labibur Rahman - Flutter Developer Portfolio"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.0
  
dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  get: ^4.7.2
  iconsax: ^0.0.8
  google_fonts: ^6.2.1
  flutter_svg: ^2.0.17

dev_dependencies:
  flutter_test:
    sdk: flutter
    
  flutter_lints: ^6.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/vectors/
    - assets/images/

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700